*{
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  line-height: 2;
  font-weight: 800;
}

.main-head{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.app-header{
  text-align:center ;
  background-color:grey;
  font-family:sans-serif;
  color:blue;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
 
}

 input{
padding: 0.5rem;
}
a{
  color:rgb(165, 25, 118);
  text-decoration: none;
}