.tech-conference{
  box-sizing: content-box;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin: 5rem;
  height:20rem;
  padding: 5rem;
  width:15%;
  transition: all 200ms ease-in;
  box-shadow: 10px 10px 20px blue
  
}
.heading{
  font-family:sans-serif;
  color:green;
}
.tech-conference:hover{
  transform: scale(1.1);   
  background:lightblue;
  border-radius: 30%; 
}


img{
  width:120%;
}
a{
  margin-top:0rem ;
  background:lightblue;
  padding: 1rem 2rem;
  text-decoration:none;
  color:blue;
  border-radius: 50%;
  font-family: fantasy;
}
a:hover{
background: #d4f036;
}
